<div class="saveChangedProduct">
<form action="saveChangedProduct" method="POST">
<div class="form-group">
  <label class="col-form-label" for="inputDefault">Название продукта</label>
  <input name="product[name]" type="text" class="form-control" placeholder="" value="{{recievedProduct.name}}">
</div>

<div class="form-group">
  <label class="col-form-label" for="inputDefault">Калорийность</label>
  <input name="product[calories]" type="text" class="form-control" placeholder="ккал" value="{{recievedProduct.calories}}">
</div>

<div class="form-group">
  <label class="col-form-label" for="inputDefault">Белки</label>
  <input name="product[proteins]" type="text" class="form-control" placeholder="гр"value="{{recievedProduct.proteins}}">
</div>

<div class="form-group">
  <label class="col-form-label" for="inputDefault">Жиры</label>
  <input name="product[fats]" type="text" class="form-control" placeholder="гр" value="{{recievedProduct.fats}}">
</div>

<div class="form-group">
  <label class="col-form-label" for="inputDefault">Углеводы</label>
  <input name="product[carbohydrates]" type="text" class="form-control" placeholder="гр"value="{{recievedProduct.carbohydrates}}">
</div>

<div class="form-group">
  <label class="col-form-label" for="inputDefault">Порция</label>
  <input name="product[serving]" type="text" class="form-control" placeholder="гр" value="{{recievedProduct.serving}}">
</div>

<div class="form-group">
  <label class="col-form-label" for="inputDefault">ID</label>
  <input readonly="" id="readOnlyInput" name="product[id]" type="text" class="form-control" placeholder="гр" value="{{recievedProduct._id}}">
</div>

<button id="send_edited" data-function="edited_product_send" type="submit" class="btn btn-primary btn-lg btn-block">Сохранить изменения</button>
</form>
</div>
